html{
    height: 100%;
    background-color: black;
}
h1{
    color: white;
}
.flexbox-container{
    height: 250px;
    background-color: yellow;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  

}
.flexbox-item{
    width: 100px;
    margin: 10px;
    border: 3px solid black;
   
}
.flexbox-item-1{
    min-height: 100px;
    background-color:red;
    /* flex-grow: 15; */
}
.flexbox-item-2{
    min-height: 100px;
    background-color: blue;
    /* flex-grow: 6; */
}
.flexbox-item-3{
    min-height: 100px;
    background-color: blanchedalmond;
  
}
